name: Quick build and test

on: push

jobs:
  uv_test:
    name: Test with UV
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
          # - "3.15"

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Install the project
        run: uv sync --group dev
    
      - name: Run tests
        run: uv run pytest


  check_coverage:
    name: Generate codecov
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-python@v6
      name: Install Python

    - name: Generate coverage report
      run: |
        pip install pytest
        pip install pytest-cov
        pip install -e ".[plots]"
        pytest --cov=dtw --cov-report=xml

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}    


  build_wheels:
    name: Build wheels on ubuntu only
    runs-on: ubuntu-latest
    needs: uv_test
    # if: false

    steps:
      - uses: actions/checkout@v6

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1
        with:
          extras: "uv"
        env:
          CIBW_SKIP: "*musllinux*"
          CIBW_TEST_REQUIRES: pytest
          CIBW_TEST_COMMAND: "pytest {project}/tests"
          CIBW_ARCHS: auto64
          CIBW_BUILD_FRONTEND: "build[uv]"
          # CIBW_ARCHS_MACOS: "x86_64 universal2"
          # CIBW_ARCHS_WINDOWS: auto64
          # CIBW_ARCHS_LINUX: auto64
          # CIBW_TEST_SKIP: "cp311*" due to scipy not finding openblas to build from source. may be removed when 311 released.

      - uses: actions/upload-artifact@v6
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

      

        
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
